<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs", {title: "Samples Index Page"}) %>

  <body>
    <poke-dex>
      <left-screen>
        <% pokemon.forEach((p, i) => { %>

        <pokemon-listing data-index="<%= i %>">
          <h3><%= p.name %></h3>
          <img src="<%= p.img %>" />
        </pokemon-listing>

        <% }) %>
      </left-screen>
      <right-screen> </right-screen>
    </poke-dex>

    <style>
      poke-dex {
        display: flex;
        width: 90%;
        border-radius: 60px;
        border: 3px solid black;
        min-height: 90dvh;
        margin: 10px auto;
        justify-content: space-around;
        padding: 10px;
      }

      left-screen,
      right-screen {
        width: 40%;
        height: 80dvh;
        border: 3px solid red;
        border-radius: 60px;
        overflow: scroll;
      }

      left-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      pokemon-listing {
        display: block;
      }
    </style>
  </body>
</html>
