<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <flex-box>
        <flex-item>1</flex-item>
        <flex-item>2</flex-item>
        <flex-item>3</flex-item>
        <flex-item>4</flex-item>
    </flex-box>
    <flex-box>
        <flex-item>1</flex-item>
        <flex-item>2</flex-item>
        <flex-item>3</flex-item>
        <flex-item>4</flex-item>
    </flex-box>

    <style>
        flex-box {
            display: flex;
            border: 3px solid red;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }

        flex-item {
            display: block;
            width: 33%;
            margin: 10px;
            border: 3px solid green;
            text-align: center;
        }
    </style>
    
</body>
</html>