<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs", {title: "Samples Index Page"}) %>

  <body id="pokemonindex">
    <%- include("../partials/header.ejs", {xpage: false})%>

    <main>
        <h2>Sign-Up Form</h2>
        <form action="/auth/signup" method="post">
            <input required type="text" name="username" placeholder="new username">
            <input type="password" name="password" placeholder="password here">
            <button>Create User</button>
        </form>

        <h2>Login Form</h2>
        <form action="/auth/login" method="post">
            <input type="text" name="username" placeholder="enter username">
            <input type="password" name="password" placeholder="password here">
            <button>Login</button>
        </form>
    </main>
  </body>
</html>